*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

 body {background-color: rgb(231, 181, 141);
    padding-top: 80px;
} 



.header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: black;
    position: fixed;
    top: 0;
    
    
}


.inner_header{
    width: 1800px;
    height: 80px;
    display: block;
    margin: 0 auto;
    
}

.logo_container{
    height: 100%;
    display:table;
    float: left;

}

.logo_container h1{
  color: white;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-family: 'Poppins';
  font-size: 24px;


}

.navigation{
    float: right;
    height: 100%;

}


.navigation li{
    height: 100%;
    display: table;
    float: left;
    padding: 0 20px;
    
    
}

.navigation li a:visited {
    color: rgb(69, 180, 255);
}

.navigation li a:active {
    color: rgb(255, 69, 69);
}


.navigation li:last-child{
    padding-right: 0;
}

.navigation li a{
    display: block;
    line-height: 80px;
    height: 100%;
    color: white;
    font-family: 'Poppins';
    font-size: 15px;
    padding: 0 9px;
}

ul li a:hover {
  background-color: #111111;
}

b {
 text-decoration: underline;
 color: rgb(255, 255, 255);
}

img.pic{
width: 100%;
max-width: 600px;
margin-left: auto;
margin-right: 100px;
margin-top: -110px;
display: block;
float: right;
border-radius: 20px;
box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.intro h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    color: black;
    margin-left: 100px;
    margin-top: 250px;

}

strong {
  font-weight: bold;
}

.intro p{
    font-family: 'Arial';
    font-size: 20px;
    color: rgb(0, 0, 0);
    margin-left: auto
    margin-right: 600px;
    margin-top: 0px;
    width: 700px;
    line-height: 1.6;
    margin-top: -238px;
    display: block;

}

.button {
  background-color: #000000;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 300px;
  margin-top: 30px;
  font-family : 'Montserrat';
}

.button:hover {
   background: #000;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}
 
.new-section {
    padding: 100px;
    background-color: #F5DCC3;
    margin-top: 420px;
}

.new-section h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    color: black;
    margin-bottom: 20px;
    width: 50%;
    margin: auto;
    margin-left: 33%;
}

.new-section p {
    font-family: 'Arial';
    font-size: 18px;
    color: black;
    line-height: 1.6;
    max-width: 680px;
    margin-top: 0px;  
     width: 50%;
    margin: 10px auto;
    margin-left: 33%;
    
}
 
.new-section hr {
    border: none;
    height: 2px;
    background-color: black;
    margin: 40px auto;
    width: 50%;
}

.computer-one {
    padding: 100px;
    background-color: #F5DCC3;
    margin-top: auto;
    margin-bottom: 100;
}


.computer-one h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    color: black;
    margin-top: -205px;
    margin-bottom: 15px;
    margin-left: 25%;
}

.computer-one p {
    font-family: 'Arial';
    font-size: 18px;
    color: black;
    line-height: 1.6;
    max-width: 550px;
    margin-top: 0px;  
     width: 50%;
    margin: 10px auto;
    margin-left: 25%;
    
}

img.pic2{
width: 100%;
max-width: 450px;
margin-left: auto;
margin-right: 100px;
margin-top: -280px;
display: block;
}

.comp2 {
    padding: 100px;
    background-color: #F5DCC3;
    margin-top: auto;
    margin-bottom: 100;
}

.comp2 h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    color: black;
    margin-top: -205px;
    margin-bottom: 15px;
    margin-left: 25%;
}

.comp2 p {
    font-family: 'Arial';
    font-size: 18px;
    color: black;
    line-height: 1.6;
    max-width: 550px;
    margin-top: 0px;  
     width: 50%;
    margin: 10px auto;
    margin-left: 25%;
    
}

img.pic3{
width: 100%;
max-width: 320px;
margin-left: auto;
margin-right: 162px;
margin-top: -280px;
display: block;
}

.linkstyle {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

.compthree {
    padding: 100px;
    background-color: #F5DCC3;
    margin-top: auto;
    margin-bottom: 100;
}

.compthree h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    color: black;
    margin-top: -205px;
    margin-bottom: 15px;
    margin-left: 25%;
}

.compthree p {
    font-family: 'Arial';
    font-size: 18px;
    color: black;
    line-height: 1.6;
    max-width: 550px;
    margin-top: 0px;  
     width: 50%;
    margin: 10px auto;
    margin-left: 25%;
    
}

img.pic4{
width: 100%;
max-width: 320px;
margin-left: auto;
margin-right: 162px;
margin-top: -280px;
display: block;
}

.compfour {
    padding: 100px;
    background-color: #F5DCC3;
    margin-top: auto;
    margin-bottom: 100;
}

.compfour h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    color: black;
    margin-top: -205px;
    margin-bottom: 15px;
    margin-left: 25%;
}

.compfour p {
    font-family: 'Arial';
    font-size: 18px;
    color: black;
    line-height: 1.6;
    max-width: 550px;
    margin-top: 0px;  
     width: 50%;
    margin: 10px auto;
    margin-left: 25%;
    
}

img.pic5{
width: 100%;
max-width: 320px;
margin-left: auto;
margin-right: 162px;
margin-top: -280px;
display: block;
}

.personalpc {
    padding: 0px;
    background-color: #A0AA82;
    margin-top: auto;
    margin-bottom: 100;
}

.personalpc h2 {
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    color: black;
}



img.pconderdelen{
margin-left: 500px;
margin-top: 30px;
height: 700px;



}

.note-section {
    background-color: #A0AA82;  
    padding: 80px 100px;
    margin: 0px;
}

.note {
    background-color: #ffffff; 
    padding: 9px;
    border-left: 4px solid #b90b0b; 
    margin: 0 auto; 
    max-width: 950px; 
    width: 95%;
    border-radius: 18px; 
    margin-left: 420px;
}


.note p {
    color: #000000; 
    line-height: 1.6;
    margin: 0;
}

.note strong {
    color: #000000; 
}

#pc-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
}

#pc-content.open {
    max-height: 2000px;
}

#arrow {
    transition: transform 0.3s ease;
    display: inline-block;
    font-size: 24px;
    margin-left: 10px;
}

#arrow.open {
    transform: rotate(180deg);
}

table, th, td {
  border:1px solid #000000;
  margin-top: 25px;
  margin-left: 475px; 
  padding: 25px 15px;
  background-color: #ffffff;
  border-radius: 50px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);


}

td a {
    color: #000000;
    
}

footer {
  text-align: center;
  padding: 3px;
  background-color: rgb(0, 0, 0);
  color: white;
}

.ytvid red{
  color: red;
}

