*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
 body {
    background-color: rgb(231, 181, 141);
    padding-top: 80px;
} 

.navigation li a:visited {
    color: rgb(69, 180, 255);
}



.header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: black;
    position: fixed;
    top: 0;
    
    
}

b {
 text-decoration: underline;
 color: rgb(255, 255, 255);
}
.inner_header{
    width: 1800px;
    height: 80px;
    display: block;
    margin: 0 auto;
    
}

.logo_container{
    height: 100%;
    display:table;
    float: left;

}

.logo_container h1{
  color: white;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-family: 'Poppins';
  font-size: 24px;


}

.navigation{
    float: right;
    height: 100%;

}



.navigation li{
    height: 100%;
    display: table;
    float: left;
    padding: 0 20px;
    
    
}

.navigation li:last-child{
    padding-right: 0;
}

.navigation li a{
    display: block;
    line-height: 80px;
    height: 100%;
    color: white;
    font-family: 'Poppins';
    font-size: 15px;
    padding: 0 9px;
}

ul li a:hover {
  background-color: #111111;
}

.moederbord-intro h1{
    font-family: 'Montserrat';
    margin-top: 50px;
    font-size: 46px;
    text-align: center;
}

.moederbord-intro p{
    font-family: 'Arial';
    font-weight: normal;
    margin: -30px auto; 
    font-size: 24px;
    max-width: 1050px; 
    text-align: center;
}

.linkstyle {
    font-size: 24px;
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

.motherboardimg {
    display: block;
    margin: 60px auto; 
    max-width: 30%; 
    height: auto; 
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.new-section {
    padding: 100px;
    background-color: #F5DCC3;
    margin-top: 150px;
}



.new-section h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    color: black;
    margin-bottom: 20px;
    width: 50%;
    margin-left: 30%;
    margin-top: -225px;  
}

 
.new-section hr {
    border: none;
    height: 2px;
    background-color: black;
    margin: 40px auto;
    width: 50%;
}

.computer-one {
    padding: 100px;
    background-color: #F5DCC3;
    margin-top: auto;
    margin-bottom: 100;
}


.computer-one h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    color: black;
    margin-top: -275px;
    margin-bottom: 15px;
    margin-left: 25%;
}

.computer-one p {
    font-family: 'Arial';
    font-size: 18px;
    color: black;
    line-height: 1.6;
    max-width: 550px;
    margin-top: 0px;  
     width: 50%;
    margin: 10px auto;
    margin-left: 25%;
    
}

img.pic2{
width: 100%;
max-width: 300px;
margin-left: auto;
margin-right: 100px;
margin-top: -280px;
display: block;
}

.comp2 {
    padding: 100px;
    background-color: #F5DCC3;
    margin-top: auto;
    margin-bottom: 100;
}

.comp2 h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    color: black;
    margin-top: -175px;
    margin-bottom: 15px;
    margin-left: 25%;
}

.comp2 p {
    font-family: 'Arial';
    font-size: 18px;
    color: black;
    line-height: 1.6;
    max-width: 550px;
    margin-top: 0px;  
     width: 50%;
    margin: 10px auto;
    margin-left: 25%;
    
}

img.pic3{
width: 100%;
max-width: 320px;
min-width: 480px;
margin-left: auto;
margin-right: 35px;
margin-top: -280px;
display: block;
}

.linkstyle {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

.compthree {
    padding: 100px;
    background-color: #F5DCC3;
    margin-top: auto;
    margin-bottom: 100;
}

.compthree h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    color: black;
    margin-top: -125px;
    margin-bottom: 15px;
    margin-left: 25%;
}

.compthree p {
    font-family: 'Arial';
    font-size: 18px;
    color: black;
    line-height: 1.6;
    max-width: 550px;
    margin-top: 0px;  
     width: 50%;
    margin: 10px auto;
    margin-left: 25%;
    
}

img.pic4{
width: 100%;
max-width: 400px;
min-width: 400px;
margin-left: auto;
margin-right: 50px;
margin-top: -280px;
display: block;
}

.compfour {
    padding: 100px;
    background-color: #F5DCC3;
    margin-top: auto;
    margin-bottom: 100;
}

.compfour h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    color: black;
    margin-top: -170px;
    margin-bottom: 15px;
    margin-left: 25%;
}

.compfour p {
    font-family: 'Arial';
    font-size: 18px;
    color: black;
    line-height: 1.6;
    max-width: 550px;
    margin-top: 0px;  
     width: 50%;
    margin: 10px auto;
    margin-left: 25%;
    
}

.compfive {
    padding: 100px;
    background-color: #F5DCC3;
    margin-top: auto;
    margin-bottom: 100;
}

.compfive h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    color: black;
    margin-top: -170px;
    margin-bottom: 15px;
    margin-left: 25%;
}

.compfive p {
    font-family: 'Arial';
    font-size: 18px;
    color: black;
    line-height: 1.6;
    max-width: 550px;
    margin-top: 0px;  
     width: 50%;
    margin: 10px auto;
    margin-left: 25%;
    
}

.compsix {
    padding: 100px;
    background-color: #F5DCC3;
    margin-top: auto;
    margin-bottom: 100;
}

.compsix h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    color: black;
    margin-top: -170px;
    margin-bottom: 15px;
    margin-left: 25%;
}

.compsix p {
    font-family: 'Arial';
    font-size: 18px;
    color: black;
    line-height: 1.6;
    max-width: 550px;
    margin-top: 0px;  
     width: 50%;
    margin: 10px auto;
    margin-left: 25%;
    
}

.compseven {
    padding: 100px;
    background-color: #F5DCC3;
    margin-top: auto;
    margin-bottom: 100;
}

.compseven h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    color: black;
    margin-top: -170px;
    margin-bottom: 15px;
    margin-left: 25%;
}

.compseven p {
    font-family: 'Arial';
    font-size: 18px;
    color: black;
    line-height: 1.6;
    max-width: 550px;
    margin-top: 0px;  
     width: 50%;
    margin: 10px auto;
    margin-left: 25%;
    
}

img.pic5{
width: 100%;
max-width: 320px;
margin-left: auto;
margin-right: 82px;
margin-top: -280px;
display: block;
}

img.pic6{
width: 100%;
max-width: 320px;
margin-left: auto;
margin-right: 82px;
margin-top: -280px;
display: block;
}

img.pic7{
width: 100%;
max-width: 320px;
margin-left: auto;
margin-right: 82px;
margin-top: -280px;
display: block;
}

img.pic8{
width: 100%;
max-width: 320px;
margin-left: auto;
margin-right: 82px;
margin-top: -280px;
display: block;
}

.links {
    font-size: 18px;
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

.ytvid {
    background-color: #A0AA82;
    

    
}

.ytvid h1 {
    font-family: 'Montserrat';
    display: flex;
    justify-content: center;
    align-items: center;


}

.film{
    width: 100px;
    height: 50px;
    margin: 0 auto;
    display: block;
    margin-top: 25px;
    height: 480px;
    width: 640px;


}

footer {
    margin-top: 250px;
  text-align: center;
  padding: 3px;
  background-color: rgb(0, 0, 0);
  color: white;
}

html {
  scroll-behavior: smooth;
}

.cpuimg{
    display: block;
    margin: 60px auto; 
    max-width: 45%; 
    height: auto; 
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);

}